html,
body {
  height: 100%;
}
 body{
  background: url("img/background.jpg") fixed;
  background-color: #2c2f36;
 }

input{
   text-align:center;
}

select {
  text-align: center;
  text-align-last: center;
  /* webkit*/
}
select, option {
    padding-left: 30px;
}


.form-signin {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

    #movable {
      height: 247px;
      overflow: hidden;
      width: 209px;
      position: absolute;
      -webkit-transform: rotate(-50deg);
      -moz-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
      right: -500px;
    }

    .eyeball-parent {
      border:1px solid #000;
      position: absolute;
      top:40px;
      left:91px;
      width: 15px;
      height: 15px;
      background: #fff;
      border-radius: 50%;
    }

    .eyeball {
      position: absolute;
      left: 4px;
      top: 4px;
      width: 7px;
      height: 7px;
      background: #000;
      border-radius: 50%;
    }

    .inf{
      overflow: hidden;
      position: fixed;
      right: 0px;
      width: 118px;
      height: 300px;
      bottom: 10px;
      z-index:100;
    }

   .figure {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    margin-top: 0; /* Отступ сверху */
   }
   
    .gotowork {
    -webkit-animation: preloader 1.5s infinite linear;
    -moz-animation: preloader 1.5s infinite linear;
    -ms-animation: preloader 1.5s infinite linear;
    -o-animation: preloader 1.5s infinite linear;
    animation: preloader 1.5s infinite linear;
    }
    
    @-webkit-keyframes preloader {
        to { -webkit-transform: rotate(360deg); }
    }
    
    @-moz-keyframes preloader {
        to { -moz-transform: rotate(360deg); }
    }
    
    @-ms-keyframes preloader {
        to { -ms-transform: rotate(360deg); }
    }
    
    @-o-keyframes preloader {
        to { -o-transform: rotate(360deg); }
    }
    
    @keyframes preloader {
        to { transform: rotate(360deg); }
    }
    
.poster{
    position:relative;
    margin:100px auto;
    height: auto;
    width: auto;
}
.descr{
    display: none;
    padding: 15px;
    margin-top: 25px;
    background: #282b34;
    height: auto;
    color: #c8cccb;
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
.poster:hover .descr{
    display:block;
    position:absolute;
    z-index:9999;
    width: auto;
}

.centertable{
	table-layout:fixed;
	margin-left: auto;
	margin-right: auto;
}

.cntclmn{
	background-color: lightgray;
	color: black;
}
.accclmn{
	padding-left: 15px;
}

.tokenclmn{
	width: 450px; 
	word-break: break-all;
	padding-left: 15px;
}